body {position: absolute;
    margin: 0;
    padding: 0;

    width: 1366px;
    height: 900px;

    background-color: rgba(236,222,208,0.5);
}
#banner {
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url("img/home_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(210,157,126,1.00);
}
nav {position: absolute;
    width: 100%;
    height: 8%;

    background-color: rgba(0,0,0,0.2);
}
#nav_font {position: absolute;
    top: 11px;
    left: 3%;

    margin: 0;

    color: white;
    font-family: "Lucida Console";
    font-size: 14px;
    line-height: 14px;
}
header {position: absolute;
    top: 8%;

    width: 100%;
    height: 92%;
}
#header_title {position: absolute;
    top: 30%;

    margin: 0;

    width: 100%;

    color: white;
    font-family: "Lucida Console";
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    text-align: center;
}
#header_search {position: absolute;
    top: 65%;
    left: 30%;
    right: 30%;

    border: 2px solid white;
    border-radius: 5px;

    width: 40%;
    height: 48px;

    background-color: rgba(0,0,0,0);

    color: #FFFFFF;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    text-indent: 10px;
}
#header_copyright {position: absolute;
    bottom: 2%;
    left: 1%;

    margin: 0;

    color: rgba(255,255,255,0.5);
    font-family: "Lucida Console";
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}
#content {position: absolute;
    top: 50%;

    width: 100%;
    height: 46%;
}
aside {position: absolute;
    top: 8%;
    left: 3%;

    border: 5px solid rgba(210,157,126,1.0);
    border-radius: 10px;

    width: 20%;
    height: 80%;

    background-color: rgba(210,157,126,0.1);
}
#Game-1 {position: absolute;
    top: 10%;
    right: 5%;

    border: 2px solid rgba(210,157,126,1.0);
    border-radius: 5px;

    width: 60%;
    height: 20%;

    background-color: rgba(210,157,126,0.1);
}
#Game-1 > img {position: absolute;
    top: 10%;
    left: 1%;

    width: 8%;
    height: 80%;
}
#Game-1 > a {position: absolute;
    top: 30%;
    left: 10%;

    height: 40%;
}
#Game-2 {position: absolute;
    top: 40%;
    right: 5%;

    border: 2px solid rgba(210,157,126,1.0);
    border-radius: 5px;

    width: 60%;
    height: 20%;

    background-color: rgba(210,157,126,0.1);
}
#Game-3 {position: absolute;
    top: 70%;
    right: 5%;

    border: 2px solid rgba(210,157,126,1.0);
    border-radius: 5px;

    width: 60%;
    height: 20%;

    background-color: rgba(210,157,126,0.1);
}
footer {position: absolute;
    top: 96%;

    width: 100%;
    height: 4%;

    background-color: rgba(200,158,136,0.1);
}
#footer_text {position: absolute;
    bottom: 6px;

    margin: 0;

    width: 100%;

    color: black;
    font-family: "Lucida Console";
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
