
* {
    position: absolute;
}

body {
    width: 1366px; height: 500px;
}

#score_board{
    /* 绘制记分板 */
    top: 185px;
    left: 50%;
    width: 157px;
    height: 105px;
    background-image:  url(../Games/Whac_A_Mole/img/gophers-Slice_Scoreboard.png);
    background-position: 0px -10px;
    background-repeat: no-repeat;
    z-index: 10;
/*
    transform: translateX(-50%);
    transform: translateX(0%);
*/
}

#score_wrap{
    /* 分数 显示区域 */
    top: 25px;
    left: 25px;
    width:  110px;
    height:  61px;
    overflow:  hidden;
}

#score{
    /* 分数条 设置起始位置,通过JS脚本控制它的位置 */
    top:  -630px;
    left: 0px;
    width:  111px;
    height:  691px;
    background-image:  url(../Games/Whac_A_Mole/img/gophers-Slice_Score-2.png);
}

#background{
    top:  30px;
    left: 50px;
    width:  320px;
    height:  480px;
    background-image:  url(../Games/Whac_A_Mole/img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.score {
    top: 105px;
    left: 0px;
    width: 100px;
    height: 100px;
    transition: .4s linear;}

div.P {
    color: red;
}
